@font-face {
    font-family: poppinsRegular;
    src: url("../assets/fonts/Poppins-Medium.ttf");
}

@property --submitColor {
    syntax: '<color>';
    initial-value: rgb(0, 128, 118);
    inherits: false;
}

@keyframes slideFromLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes growIn {
    0% {
        transform: scale(0%);
    }
    90% {
        transform: scale(110%);
    }
    100% {
        transform: scale(100%);
    }
}

@keyframes slideFromBottom {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes spinIn3D {
    0% {
        transform: rotateY(0deg);
    }
    50% {
        transform: rotateY(180deg);
    }
    100% {
        transform: rotateY(360deg);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}

body {
    margin: 0px;
    background: linear-gradient(90deg, #0a3d62 0%, #38ada9 100%);
    color: #ecf0f1;
    font-size: 20px;
    font-family: poppinsRegular;
}

p {
    margin: 0px;
}

ul {
    margin-left: 16px;
}

img {
    border-radius: 7px;
    background-color: #0c246155;
    box-shadow: 10px 5px 5px #093250;
}

.anim1 {
    animation: 1.5s ease-out 0s 1 slideFromLeft;
}
.anim2 {
    animation: 1.5s ease-out 0s 1 spinIn3D;
}
.anim3 {
    animation: 1.2s ease-out 0s 1 growIn;
}

.description {
    margin-left: 32px;
}
.description>ul>li {
    animation: 1.5s ease-out 0s 1 fadeIn;
    animation-fill-mode: backwards;
}

.textWithMargin
{
    margin-left: 32px;
}

.courseSelector {
    color: #ecf0f1;
    background: #1e3799;
    border: none;
    border-radius: 3px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-family: poppinsRegular;
    padding: 8px 24px;
    margin: 0px 5px 0px 5px;


    background: linear-gradient(45deg, #1e3799 0%, var(--submitColor) 100%);
    transition: --submitColor 0.2s ease;
}
.courseSelector:hover {
    --submitColor: #78e08f;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #3c6382;
    color: #ecf0f1;
    font-size: 16px;
    font-family: poppinsRegular;
    text-align: left;
    padding-left: 64px;
}

.link {
    color: #b8e994;
    text-decoration: none;
}
.link:hover {
    color: #78e08f
}

.sources {
    border-radius: 7px;
    background-color: #0c246155;
    box-shadow: 10px 5px 5px #093250;

    padding: 5px;
    width: max-content;
    text-align: left;
    font-size: 16px;
    font-family: poppinsRegular;
}